/* GENERAL SETTINGS */
.accordion-container {
    position: relative;
    border-radius: 25px;
    padding: nth($padding, 2);
    padding-top: nth($padding, 4);
    max-width: 50%;
}

.accordion__logo {
  position: absolute;
  top: -3%; /* Move the top edge to the vertical center */
  left: 50%; /* Move the left edge to the horizontal center */
  transform: translate(-50%, -50%); /* Center the image precisely */
  width: 200px;
  aspect-ratio: 1;
}

/* ============================= */
/* MEDIA QUERY */

@include desktop {
  .accordion-container {
    padding: nth($padding, 3);
    padding-left: 20%;
  }

.accordion__logo {
    top: 45%; /* Move the top edge to the vertical center */
    left: 10%; /* Move the left edge to the horizontal center */
    width: 300px;
  }
}
/* ============================= */

.accordion__general-header {
    font-size: $font-lg;
}
/* General styles for the accordion container */
.accordion__content-container {
    border-bottom: 1px solid $dark-blue;
    display: grid;
    grid-template-rows: 30px 1fr;
    align-items: center;
    position: relative;
    height: max-content;
    padding-top: nth($padding, 2);
    padding-bottom: nth($padding, 1);
    color: $dark-blue;
  }
  
  
  /* Header styles */
  .accordion__header-content {
    color: $very-dark-grayish-blue;
    font-weight: 500;
    transition: font-weight 200ms ease-in-out;
  }
  .accordion__header-content:hover {
    color: $soft-red;
  }
  /* Icon styles */
  .icon {
    object-fit: contain;
    cursor: pointer;
  }
  
.accordion__dropdown-icon {
    color: $soft-red;
    transition: transform 300ms ease-in-out;
  }
.accordion__header-container  {
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
  /* Hidden checkbox */
.accordion__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }

/* SPECIFIC RULES */

.accordion__content-1-pane, 
.accordion__content-2-pane,
.accordion__content-3-pane,
.accordion__content-4-pane,
.accordion__content-5-pane   {
    opacity: 0;
    max-height: 0;
    overflow: hidden; /* Hide content that overflows the max-height */
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out; /* Add transitions */
    
  } 



.checkbox-1:checked ~ .accordion__header-1 .accordion__icon-1,
.checkbox-2:checked ~ .accordion__header-2 .accordion__icon-2,
.checkbox-3:checked ~ .accordion__header-3 .accordion__icon-3,
.checkbox-4:checked ~ .accordion__header-4 .accordion__icon-4,
.checkbox-5:checked ~ .accordion__header-5 .accordion__icon-5
 {
    transform: rotate(180deg);
   }


/* Styles for the content pane when checkbox is checked */

.checkbox-1:checked ~ .accordion__content-1-pane,
.checkbox-2:checked ~ .accordion__content-2-pane, 
.checkbox-3:checked ~ .accordion__content-3-pane,
.checkbox-4:checked ~ .accordion__content-4-pane,
.checkbox-5:checked ~ .accordion__content-5-pane
 {
    opacity: 1;
    max-height: 100%;
    transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out; /* Add transitions */
  
  }


 /* Style the .accordion__header-content when its associated checkbox is checked 
 * the font-weight changes to Bold.
 */
.checkbox-1:checked + .accordion__header-1 .accordion__header-1-content,
.checkbox-2:checked + .accordion__header-2 .accordion__header-2-content,
.checkbox-3:checked + .accordion__header-3 .accordion__header-3-content,
.checkbox-4:checked + .accordion__header-4 .accordion__header-4-content,
.checkbox-5:checked + .accordion__header-5 .accordion__header-5-content
 {
  transition: font-weight 0.2s ease-in-out, color 0.3s ease-in-out;
  font-weight: bold;
  color: $very-dark-blue;
}


/* ATTRIBUTION COMPONENT */
   .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: nth($padding, 2);
   }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
